{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block content %}

<link href="{% static 'css/form-styles.css' %}" rel="stylesheet">

<div class="register">
<h2>Client form</h2>

<form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% for message in messages %}
    <li>{{message}}</li>
{% endfor %}
<p style="font-family: verdana;
    font-size: 13px;">Return to <a href="{% url 'home' %}" style="font-family: verdana;
    font-size: 15px;">Home Page</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_branch").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const branchId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'branch_id': branchId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_area").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_course").html(html_data);

                */
            }
        });

    });
</script>
{% endblock %}